# Build directories
build/
install/
log/

# Map files
*.pgm
*.yaml
odom:

# VS Code
.vscode/
src/.vscode/
*.code-workspace

# Python cache
__pycache__/
*.pyc
*.pyo

# ROS logs
*.log
*.txt

# Gazebo logs
*.db
*.db-shm
*.db-wal
*.sqlite

# Backup files
*~
*.swp
*.swo
