<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="pi_const" value="3.14159265"/>

  <xacro:property name="a" value="0.55663" />   
  <xacro:property name="b" value="0.14044" />   
  <xacro:property name="c" value="0.388"   />   

  <xacro:property name="r" value="0.035" />     
  <xacro:property name="d" value="0.04"  />     

  <xacro:property name="d1" value="271.0"/>    
  <xacro:property name="d2" value="2710.0"/>   

  <xacro:property name="m1" value="${d1*a*b*c}"/>
  <xacro:property name="m2" value="${d2*pi_const*r*r*d}"/>

  <xacro:property name="Ix_body" value="${(1/12)*m1*(b*b+c*c)}"/>
  <xacro:property name="Iy_body" value="${(1/12)*m1*(a*a+b*b)}"/>
  <xacro:property name="Iz_body" value="${(1/12)*m1*(a*a+c*c)}"/>

  <xacro:property name="Iz_wheel" value="${0.5*m2*r*r}"/> 
  <xacro:property name="I_wheel"  value="${(1.0/12.0)*m2*(3.0*r*r+d*d)}"/> 

  <xacro:macro name="inertia_body">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="${m1}"/>
      <inertia ixx="${Ix_body}" ixy="0.0" ixz="0.0"
               iyy="${Iy_body}" iyz="0.0"
               izz="${Iz_body}"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="inertia_wheel">
    <inertial>
      <origin rpy="1.5708 0 0" xyz="0 0 0"/>
      <mass value="${m2}"/>
      <inertia ixx="${I_wheel}"  ixy="0.0" ixz="0.0"
               iyy="${Iz_wheel}" iyz="0.0"
               izz="${I_wheel}"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="inertia_box" params="mass size_x size_y size_z">
    <inertial>
      <mass value="${mass}"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia 
        ixx="${(1/12) * mass * (size_y*size_y + size_z*size_z)}" ixy="0" ixz="0"
        iyy="${(1/12) * mass * (size_x*size_x + size_z*size_z)}" iyz="0"
        izz="${(1/12) * mass * (size_x*size_x + size_y*size_y)}"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="inertia_cylinder" params="mass radius length">
    <inertial>
      <mass value="${mass}"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia 
        ixx="${(1/12) * mass * (3*radius*radius + length*length)}" ixy="0" ixz="0"
        iyy="${(1/12) * mass * (3*radius*radius + length*length)}" iyz="0"
        izz="${0.5 * mass * radius*radius}"/>
    </inertial>
  </xacro:macro>

</robot>