<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo reference="front_left_wheel">
    <mu1>0.01</mu1>
    <mu2>0.01</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="front_right_wheel">
    <mu1>0.01</mu1>
    <mu2>0.01</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="rear_left_wheel">
    <mu1>0.8</mu1>
    <mu2>0.8</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="rear_right_wheel">
    <mu1>0.8</mu1>
    <mu2>0.8</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
    <material>Gazebo/DarkGrey</material>
  </gazebo>

</robot>